.login-ReactModal__Content {
	width: 60%;
	min-height: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid #fff;
	display: flex;
	outline: none;
	position: absolute;
	left: 20%;
	top: 10%;
	border-radius: 5px;
	font-family: "Raleway", sans-serif;
	z-index: 1000;
}

.login-container_child {
	width: 50%;
	min-height: 200px;
}

.login-container_child.login-cont_thumbnail {
	background-image: url("https://firebasestorage.googleapis.com/v0/b/stream-readers-prod.appspot.com/o/backgrounds%2Fhombre%20relax%20filtro.jpg?alt=media&token=94ed1072-11da-45e9-928c-1842a245fa88");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0.5em;
	font-family: "Raleway", sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.login-container_child.login-cont_form {
	width: 50%;
	font-family: "Raleway", sans-serif;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em 1em;
}

.login-form-title {
	color: rgba(255, 255, 255, 0.4);
	font-size: 2rem;
	padding-bottom: 2rem;
	text-align: center;
}

.sub-price {
	color: #fff;
	font-size: 1rem;
	margin-top: 3em;
	text-align: center;
	font-size: 1rem;
}

.login-logo {
	width: 30%;
	align-self: center;
	margin-bottom: 1.5em;
}

.contactForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login-close-btn {
	background-color: rgba(0, 0, 0, 0);
	color: #f49231;
	font-size: 0.8rem;
	border: 0;
	cursor: pointer;
	align-self: flex-start;
	justify-self: flex-start;
}

/* *Formik* label {
	font-weight: bold;
	display: flex;
	margin-bottom: 5px;
} */
/* 
input + label {
	font-weight: bold;
	display: inline-flex;
	margin-right: 20px;
} */

/* form {
	width: 80%;
} */

.input {
	display: block;
	width: 80%;
	padding: 0.3rem 0.5rem;
	font-size: 0.8em;
	line-height: 1.42857143;
	color: #555;
	background-color: transparent;
	background-image: none;
	border: 0px solid #ccc;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

.input:focus {
	border-bottom: 1px solid #f49231;
}

.vencimiento {
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.form-control {
	margin-bottom: 0.5rem;
}

.error {
	color: red;
	font-size: 0.6rem;
}

.login-form-container > button {
	background-color: rgba(0, 0, 0, 0);
	color: #f49231;
	font-size: 28px;
	border: 0;
	align-self: flex-end;
	margin: 3px;
	cursor: pointer;
	outline: none;
}

.login-form-container > p {
	color: #043e54;
	font-size: 28px;
	font-weight: 900;
	margin-top: 0;
}

.login-form-container > .login-form {
	display: flex;
	flex-direction: column;
	margin: 0 !important;
	width: 400px;
}

.login-form-container > form > input {
	margin: 5px 0;
	padding: 6px;
	border: none;
	border-radius: 5px;
	height: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.5);
}

.login-form-container > form > input::placeholder {
	font-family: "Montserrat", sans-serif;
	font-size: 13px;
	font-style: italic;
}

.login-form-container > form > textarea {
	padding: 6px;
	margin: 5px 0;
	border: none;
	border-radius: 5px;
	resize: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.5);
}

.login-form-container > form > textarea::placeholder {
	font-family: "Montserrat", sans-serif;
	font-size: 0.5rem;
	font-style: italic;
}

.login-submit {
	background-color: #043e54;
	border: 0;
	height: 35px;
	width: 200px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	border-radius: 40px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	letter-spacing: 1px;
	cursor: pointer;
	align-self: center;
}

.submit:disabled {
	background-color: rgb(160, 159, 159);
	border: 0;
	height: 35px;
	width: 200px;
	color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 17px;
	border-radius: 40px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	letter-spacing: 1px;
	cursor: initial;
	align-self: center;
}

.confirmation-msg {
	display: none;
	font-size: 1.5rem;
	color: #f49231;
}

.confirmation-msg.show {
	display: inline-block !important;
}

.login-forgotBtn {
	border: 0;
	background-color: transparent;
	color: #f49231;
	font-size: 0.8rem;
	cursor: pointer;
	align-self: center;
}

@media (max-width: 900px) {
	.login-ReactModal__Content {
		flex-direction: column;
	}
	.login-container_child.login-cont_form {
		width: 100%;
		padding: 2em 0;
	}
	.login-container_child.login-cont_thumbnail {
		width: 100%;
		padding: 1em 0;
		height: 20%;
	}

	.login-logo {
		margin-bottom: 1em;
	}
}
@media (max-width: 500px) {
	.login-ReactModal__Content {
		left: 10%;
		width: 80%;
	}
	.login-submit {
		height: 1.8em;
		width: 8em;

		margin-top: 1em;
		margin-bottom: 1em;
		font-size: 1rem;
	}

	.login-form-title {
		font-size: 1.5rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	.sub-price {
		margin-top: 1em;

		font-size: 0.5rem;
	}

	.login-logo {
		margin-bottom: 0em;
	}
	.login-close-btn {
		font-size: 0.6rem;
		letter-spacing: 0;
	}
}

@media (max-width: 350px) {
	.login-forgotBtn {
		margin-left: 1em;
		font-size: 0.7em;
	}
	.login-container_child.login-cont_form {
		padding: 1em 0;
	}
}
